.back{
  background-color: #111320;
}





.header{
  text-align: center;
  height:120px;
  background-color:#111320;
  color:white;
  padding-top:1px;

}

.heading{
  padding-bottom:50px;
  font-size:90px;
}

.navbarText{
  text-decoration-color: white;
  font-size:400px;
  }

.navsize{
  padding-top:20px;
  height:80px;
  padding-left:30px;
}

a:hover{
  text-decoration: underline;
}

body{
  background-color:black;
}

/* carousel elements */

.carouselElement{
  height:500px;
}
.carouselImage{
  border-radius:200px;
}

/* about us css */

.line{
    
  display: block;
height: 4px;
width: 1000px;
position:absolute;
top: 128%;
left: 200px;


}

.heads{
  color:white;
  margin:50px;
}
.headss{
text-align: right;
color:white;
  margin-right:50px;
}

.text{
  color: white;
  margin: 65px;
  font-size:20px;
}

/* footer css */




.footerText{
  text-align: center;
  color:#B2B2B2;

  margin:50px;
}



